apiVersion: k0sctl.k0sproject.io/v1beta1
kind: Cluster
metadata:
  name: k0s-cluster
spec:
  hosts:
  - ssh:
      address: ${public_ip}
      user: ${ssh_user}
      port: 22
      keyPath: null
    role: controller+worker
    noTaints: true
    privateAddress: ${private_ip}
  k0s:
    version: ${k0s_version}
    dynamicConfig: false
    config:
      apiVersion: k0s.k0sproject.io/v1beta1
      kind: ClusterConfig
      metadata:
        name: k0s-cluster
      spec:
        telemetry:
          enabled: false
        %{ if enable_argocd || enable_nginx || enable_openebs }
        extensions:
          helm:
            repositories:
            %{ if enable_argocd }
            - name: argo
              url: https://argoproj.github.io/argo-helm
            %{ endif }
            %{ if enable_nginx }
            - name: ingress-nginx
              url: https://kubernetes.github.io/ingress-nginx
            %{ endif }
            %{ if enable_openebs }
            - name: openebs-internal
              url: https://openebs.github.io/openebs
            %{ endif }
            charts:
            %{ if enable_openebs }
            - name: openebs
              chartname: openebs-internal/openebs
              version: "4.4.0"
              namespace: openebs
              order: 0
              values: |
                engines:
                  replicated:
                    mayastor:
                      enabled: false
                lvm-localpv:
                  lvmNode:
                    kubeletDir: /var/lib/k0s/kubelet
                zfs-localpv:
                  zfsNode:
                    kubeletDir: /var/lib/k0s/kubelet
                localpv-provisioner:
                  hostpathClass:
                    isDefaultClass: false
            %{ endif }
            %{ if enable_nginx }
            - name: nginx-ingress
              chartname: ingress-nginx/ingress-nginx
              version: "4.12.0"
              namespace: ingress-nginx
              order: 1
              values: |
                controller:
                  service:
                    externalIPs:
                      - ${private_ip}
                  publishService:
                    enabled: false
            %{ endif }
            %{ if enable_argocd }
            - name: argo-cd
              chartname: argo/argo-cd
              version: "7.0.0"
              namespace: argocd
              order: 2
              values: |
                ${indent(16, argocd_values)}
            %{ endif }
            %{ if enable_argocd && enable_argocd_apps }
            - name: argocd-apps
              chartname: argo/argocd-apps
              version: "2.0.0"
              namespace: argocd
              order: 3
              values: |
                applications: %{if length(projects) == 0~}{}%{else}
                  %{for project in projects}
                  ${project.name}:
                    namespace: argocd
                    project: ${project.name}
                    source:
                      repoURL: ${project.source.repo_url}
                      targetRevision: ${project.source.target_revision}
                      path: ${project.source.path}
                      %{if project.source.plugin != ""}
                      plugin:
                        name: ${project.source.plugin}
                      %{endif}
                    destination:
                      server: https://kubernetes.default.svc
                      namespace: argocd
                    %{if project.auto_sync}
                    syncPolicy:
                      automated:
                        prune: true
                    %{endif~}
                  %{endfor~}%{endif~}

                projects: %{if length(projects) == 0~}{}%{else}
                  %{for project in projects}
                  ${project.name}:
                    namespace: argocd
                    description: Project for ${project.name}
                    sourceRepos:
                    - '${project.source.repo_url}'
                    destinations:
                    - namespace: argocd
                      server: https://kubernetes.default.svc
                    - namespace: ${project.destination_namespace}
                      server: https://kubernetes.default.svc
                  %{endfor~}%{endif~}

            %{ endif }
        %{ endif }
